.form{
    position: relative;
    padding-bottom: 20px;
}
.form input{
    width: 100%;
    background-color: #212529;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 8px;
    outline: none;
    padding: 16px;
    transition: 0.3ms ease-in-out;
}

.form input:valid ~ label,
.form input:focus ~ label{
    color: #ffffff;
    transform: translateX(10px) translateY(-12px);
    font-size: 0.75em;
    padding: 0 5px;
    background: #212529;
}

.form label {
    position: absolute;
    color: white;
    padding: 12px;
    top: 3px;
    left:0;
    pointer-events: none;
    font-size: 1.1em;
    align-items:center;
    cursor: text;
    transition: .3s ease-in-out;
}

